{% extends "layout.html" %}
{% block body %}
<h2>Home</h2>

<p>An app that will include some common capabilities that all modern web apps use. The app may have some simple example functionality to demonstrate functionality.  The current goal is to incorporate each of the following frameworks and libraries:</p>

<ul>
  <li>vagrant with virtual box integration
  <li>Flask app with jinja2 template and index page
  <li>simple jquery request for hello world json
  <li>simple Rest interface for an example object + jquery interaction
  <li>twitter bootstrap for UX
  <li>MySQL database wrapped by simple rest CRUD API
  <li>deploy with chef server
  <li>deploy with app server nginx and wsgi
  <li>integration with an API to enhance the database object
  <li>auth with some tools such as facebook or linked in
</ul>

<h2>Getting Started:</h2>
<ul>
  <li>Install Vagrant
  <li>Install Virtual Box
  <li><code>vagrant up</code>
</ul>

{% endblock %}